.header {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #586b7e;
    margin-bottom: 20px;
}

.header h1 {
    color: #a6eafb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 102px;
}

.table {
    padding: 10px;
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.block {
    border-radius: 20px;
    width: 30%;
    height: 30%;
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
}

.block:hover {
    scale: 1.1;
    background-color: #999999;
}

.button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart-button {
    width: 200px;
    height: 62px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    color: #ebf3f2;
    background-color: #687185;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

#restart-button:hover {
    background-color: #a1a9b9;
}